<div class="row" id="header">
    <div class="col-12">
        <div class="row">

            <div class="col-md-10 col-12 text-light">
                <h1>{{'label.app' | translate}}</h1>
            </div>

            <div class="col-md-2 col-12" login-button>

                <button mat-raised-button color="primary">{{'label.login' | translate}}</button>

                <!-- <button mat-raised-button color="primary">{{'label.register' | translate}}</button>

                <button mat-raised-button color="primary">{{'label.logout' | translate}}</button> -->

            </div>

        </div>
    </div>
</div>