html, body {
    height: 100%;
}

html body {
    background: #c2c2c2;
}
.spinner {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }